<p id="notice"><%= notice %></p>
<div class='card large-padding'>
<h1>Listing Savingfields</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @savingfields.each do |savingfield| %>
      <tr>
        <td><%= link_to 'Show', savingfield %></td>
        <td><%= link_to 'Edit', edit_savingfield_path(savingfield)  %></td>
        <td><%= link_to 'Destroy', savingfield, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Savingfield', new_savingfield_path %>
</div>
