<p id="notice"><%= notice %></p>

  		<p>
  			<strong>date:</strong>
  			<%= @saving.date %>
		</p>
  		<p>
  			<strong>begin:</strong>
  			<%= @saving.begin.strftime("%I:%M%p") %>
		</p>
  		<p>
  			<strong>end:</strong>
  			<%= @saving.end.strftime("%I:%M%p") %>
		</p>

<%= link_to 'Edit', edit_saving_path(@saving) %> |
<%= link_to 'Back', savings_path %>
