<%= form_for(@establishment,builder: BootstrapFormBuilder) do |f| %>
  <% if @establishment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@establishment.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @establishment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     
      <%= f.text_field :name %>
    
    <%= f.collection_check_boxes :field_ids, Field.all, :id, :id do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
