<!DOCTYPE html>
<html>
<head>
  <title>Slag team</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="blue white-text large-padding bold text-center" style="<%= "display:none;" if alert.nil? && notice.nil? %>">
    <p class="no-padding no-margin inline-block"><%= notice %><%= alert %></p>
    <span class="pull-right close-parent">X</span>
  </div>


  <header>
  <nav class='blue'>
    <ul class='no-list no-padding text-center'>
      <li class='col-md-2 inline-block text-center tall-padding'>
        <img height="40px" src="<%= image_path('slag.jpg') %>" />
      <li class='col-md-8 inline-block tall-padding white-text'>
        <a class="right-space white-text" href="/establecimientos"><i class='mdi-action-shopping-basket'></i>
        Establecimiento
        </a>
        <a class="right-space white-text" href="/players"><i class='mdi-action-shopping-basket'></i>
        Jugadores
        </a>
        <a class="right-space white-text" href="/savings"><i class='mdi-action-alarm'></i>
        Reservas
        </a>
        <a class="right-space white-text" href="/asistencias"><i class='mdi-action-trending-up'></i>
        Asistencia
        </a>
      </li>
      </li class='col-md-2 inline-block text-center tall-padding'>>
        <a class="right-space white-text" rel="nofollow" data-method="delete" href="/users/sign_out">Cerrar sesión</a>
      </li>
    </ul>
  </nav>
</header>

	<div class="col-md-11 no-float center-block">
		
		<%= yield %>
	</div>
</body>
</html>
